
$color-hover: rgb(0, 173, 167);
$color-grey-40: rgb(189, 193, 201);
$color-grey-10: rgb(238, 239, 241);
$color-ativo-extra: rgb(241, 255, 255);
$color-primary: rgb(255, 118, 57);
$color-text-regular: rgb(124, 130, 147);
$color-status-alerta-2: rgb(253, 183, 113);
$color-text-primary: rgb(69, 78, 95);
$color-grey-0: rgb(255, 255, 255);
$color-white: rgb(255, 255, 255);
$color-status-atraso: rgb(249, 92, 117);
$color-hover-extra: rgb(255, 255, 255);
$color-support-alerta: rgb(252, 164, 68);
$color-status-indiferente: rgb(189, 193, 201);
$color-ativo: rgb(0, 122, 118);
$color-charts-charts-1: rgb(85, 152, 221);
$color-support-erro: rgb(247, 57, 82);
$color-charts-charts-2: rgb(234, 116, 49);
$color-status-alerta: rgb(252, 164, 68);
$color-charts-charts-3: rgb(0, 170, 120);
$color-charts-charts-4: rgb(239, 71, 122);
$color-secondary: rgb(0, 147, 143);
$color-charts-charts-5: rgb(149, 90, 210);
$color-status-concluido: rgb(68, 200, 155);
$color-support-info: rgb(75, 137, 255);
$color-charts-charts-6: rgb(0, 164, 181);
$color-grey-dark: rgb(69, 78, 95);
$color-charts-charts-7: rgb(69, 78, 95);
$color-status-em-progresso: rgb(112, 157, 252);
$color-grey-80: rgb(124, 130, 147);
$color-text-placeholder: rgb(157, 161, 174);
$color-text-secondary: rgb(189, 193, 201);
$color-grey-60: rgb(157, 161, 174);
$color-support-sucesso: rgb(4, 162, 108);
$size-body: 14px;
$size-input-label: 13;
$size-icon-sm: 20px;
$size-icon-xs: 14px;
$size-icon-l: 32px;
$size-button-medium: 40px;
$size-icon-m: 24px;
$size-overline: 11px;
$size-button-mini: 12px;
$size-h1: 34px;
$size-h2: 20px;
$size-h3: 19px;
$size-text: 12px;
$size-button: 14px;
$size-button-big: 60px;
$size-button-small: 30px;
$size-icon-xl: 40;
$font-heading: Barlow, sans-serif;
$font-text: Barlow, sans-serif;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;
$weight-light: 300;
$opacity-disabled: 0.5;
$height-footer: 64px;
$tappable-square: 44px;
$media-query-xs: (max-width: 767px);
$media-query-sm: (min-width: 768px) and (max-width: 992px);
$media-query-md: (min-width: 768px) and (max-width: 992px);
$media-query-lg: (min-width: 1200px) and (max-width: 1919px);
$media-query-xl: (min-width: 1920px);
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
$radius-default: 4px;
$space-topo: 45px;
$space-between-components: 40px;
$space-padding-interno: 20px;
$line-height-xxs: 0;
$line-height-xs: 14px;
$line-height-s: 14px;
$line-height-m: 16px;
$line-height-l: 17px;
$line-height-xl: 24px;
