@import "../../tokens/_index.scss";

.new-ciclo-wrapper-btn {
  align-items: center;
  display: flex;
  height: 0;
  background: $color-white;
  position: relative;

  span {
    opacity: 0.87;
    margin: 10px;
    font-size: 16px;
    font-weight: $weight-light;
    color: $color-grey-40;
    font-size: $size-text;
  }

  button {
    width: 40px;
    height: 40px;
    border: 1px $color-grey-10 solid;
    box-shadow: $box-shadow;
    border-radius: 100%;
    background: $color-white;
    background-color: $color-white;
    display: block;
    margin: 0 auto;
    cursor: pointer;

    i {
      font-size: 20px;
    }
  }
}
