@import "../../styles/styles.scss";

// Design Tokens with local scope
$color-placeholder: tint($color-grey-10, 50%);

.input {
  @include stack-space($space-s);
  font-weight: $weight-normal;
  font-family: $font-text;
  font-size: $size-s;
  line-height: $line-height-xs;
  width: auto;
  &-expand {
    width: 100%;
  }
  label {
    cursor: pointer;
    display: block;
    font-size: $size-s;
    color: tint($color-grey-80, 0%);
    @include stack-space($space-xs);
  }
  input {
    @include reset;
    @include inset-squish-space($space-s);
    transition: all 0.2s ease;
    -webkit-appearance: none;
    appearance: none;
    font-size: $size-m;
    font-family: $font-text;
    background: $color-white;
    border-radius: $radius-default;
    color: set-text-color($color-primary, $color-grey-40);
    width: 100%;
    margin: 0;
    border: 0;
    box-shadow: inset 0 1px 0 0 rgba($color-primary, 0.07), 0 0 0 1px tint($color-primary, 80%);
    &::-webkit-input-placeholder {
      -webkit-font-smoothing: antialiased;
      color: $color-placeholder;
    }
    &:-ms-input-placeholder {
      color: $color-placeholder;
    }
    &::-moz-placeholder {
      color: $color-placeholder;
      -moz-osx-font-smoothing: grayscale;
      opacity: 1;
    }
    &:hover,
    &.hover {
      box-shadow: 0 1px 5px 0 rgba($color-primary, 0.07), 0 0 0 1px tint($color-secondary, 60%);
    }
    &:focus,
    &.focus {
      transition: box-shadow 0.2s ease;
      box-shadow: inset 0 0 0 1px $color-primary, 0 0 0 1px $color-white;
      outline: 0;
    }
    &[disabled] {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      box-shadow: 0 0 0 1px tint($color-primary, 80%);
      background: lighten($color-placeholder, 42%);
      color: tint($color-placeholder, 20%);
      cursor: not-allowed;
      opacity: 0.7;
    }
    &.error {
      box-shadow: inset 0 1px 0 1px rgba(0, 17, 35, 0.07), 0 0 0 1px $color-support-error;
    }
    &.alert {
      box-shadow: inset 0 1px 0 1px rgba(0, 17, 35, 0.07), 0 0 0 1px $color-support-alerta;
    }
    &.success {
      box-shadow: inset 0 1px 0 1px rgba(0, 17, 35, 0.07), 0 0 0 1px $color-support-sucesso;
    }
  }
}
