@import "../../tokens/_index.scss";

// Generate Theme
.el-radio__inner::after {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: $color-secondary;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  transition: -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in;
  transition: transform 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

.el-radio__input.is-checked .el-radio__inner {
  background: $color-white;
}
